{{ define "base/common/js" }}
    <script type="text/javascript" src="/static/lib/jquery.min.js?v=1.0.0"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js?v=1.0.0" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/doT/doT.min.js?v=1.0.0"></script>
    <script type="text/javascript" src="/static/js/base.js?v=1.0.0"></script>
    <!--[if lt IE 9]>
    <script src="/static/lib/html5.min.js?v=1.0.0"></script>
    <script src="/static/lib/respond.min.js?v=1.0.0"></script>
    <![endif]-->
{{ end }}